- var title = "Front-end Framework"
doctype html
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="zh">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="zh">
<![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js", lang="zh") <!--<![endif]-->
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title=title
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel="stylesheet", href=baseURL+"/css/normalize.css")
        link(rel="stylesheet", href=baseURL+"/css/main.css")
        script(src=baseURL+"/js/vendor/modernizr-2.6.2.min.js")
        //jQuery
        <!--[if lt IE 9]>
        <script src=baseURL+"/js/vendor/jquery-1.11.3.min.js"></script>
        <![endif]-->
        <!--[if gt IE 8><!-->
        script(src=baseURL+"/js/vendor/jquery-2.1.4.min.js")
        <!--<![endif]-->
        //Bootstrap
        link(rel="styleSheet", href=baseURL+"/bootstrap/dist/css/bootstrap.min.css")
        style(src=baseURL+"/bootstrap/dist/js/bootstrap.min.js")
        block headBlock
    block bodyBlock
        body